*{ margin: auto; font-family: 'ABeeZee', sans-serif; overflow: hidden; scrollbar-color: #363636 black; scrollbar-width: thin; user-select: none; -moz-user-select: none;}

body {
  background: green;
}

#title {
  float: left;
  width: 100%;
  background: black;
  font-size: 300%;
  text-align: center;
  color: white;
  padding: 0.2%;
  border-bottom: 2px solid grey;
}

#help {
  float: right;
  margin-right: 2%;
  margin-top: 0.7%;
  font-size: 50%;
  cursor: pointer;
  background: #363636;
  border: thin solid grey;
  color: white;
}

#menu {
  text-align: center;
  float: right;
  background: black;
  color: white;
  padding: 1%;
  font-size: 200%;
  width: 25%;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;

}

#menu2 {
  overflow: auto;
  height: 800px;
  margin-top: -3.5%;
  margin-right: -4%;
}

.submenu-title {
  cursor: pointer;
  text-decoration: underline;
  background: rgba(255,255,255,0.2);
  padding: 1%;
  display: flex;
  border: thin solid grey;
  margin-top: 2%;
  margin-right: 1%;
}

.submenu {
  overflow: auto;
  padding: 2%;
  background: rgba(255,255,255,0.2);
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  display: none;
  border-left: thin solid grey;
  border-bottom: thin solid grey;
  border-right: thin solid grey;
  font-size: 90%;
}

.quest-level, .expedition-level, .cantine-food, .shop-item, .forge-item, .bag-item, .comrade-item, .equipment-item {
  cursor: pointer;
  text-align: left;
  margin: 1%;
  padding: 1%;
  background: rgba(255,255,255,0.1);
}

.cantine-food {
  text-align: center;
}

.positive-points {
  font-size: 60%;
  color: green;
  font-weight: bold;
  padding: 1%;
  background: rgba(0,0,0,0.2);
}

.negative-points {
  font-size: 60%;
  color: red;
  padding: 1%;
  background: rgba(0,0,0,0.2);
}

#idle {
  cursor: pointer;
  float: right;
  width: 100%;
  background: #191919;
  color: grey;
  margin-top: 5%;
}

#idle:hover {
  background: #212121;
  color: white;
}

#log {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  margin-left: 1.5%;
  width: 70%;
  height: 200px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
}

#map-zone {
  text-align: center;
  float: left;
  width: 30%;
  height: 30px;
  background: rgba(0,0,0,0.7);
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  color: white;
  font-size: 150%;
  padding: 0.5%;
  text-decoration: underline;
  overflow: hidden;
}

#stats {
  text-align: center;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  float: right;
  width: 30%;
  height: 30px;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 150%;
  padding: 0.5%;
  text-decoration: underline;
  overflow: hidden;
}
